{{ define "main" }}
  <div id="single">

    {{/* Paginator for the micro section.
          Change 20 to however many micro entries you want per page. */}}
    {{ $paginator := .Paginate (.Pages.ByDate.Reverse) 15 }}

    {{ range $paginator.Pages }}
      <div class="content">
        <div class="meta">
          <span class="date">{{ .Date.Format "2006-01-02" }}</span>

          {{ with .Params.tags }}
            <span class="tags">
              {{ range . }}
                <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
              {{ end }}
            </span>
          {{ end }}
        </div>

        {{/* Full micro entry content, no title */}}
        {{ .Content }}
      </div>
    {{ end }}

    {{/* Pagination links: Older left, Newer right */}}
    <div class="pagination">
      {{ if $paginator.HasNext }}
        <div class="pre">
          <a href="{{ $paginator.Next.URL }}">
            {{ i18n "postsOlder" }}
          </a>
        </div>
      {{ end }}

      {{ if $paginator.HasPrev }}
        <div class="next">
          <a href="{{ $paginator.Prev.URL }}">
            {{ i18n "postsNewer" }}
          </a>
        </div>
      {{ end }}
    </div>

  </div>
{{ end }}
